
@{
    ViewBag.Title = "Main menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Main menu</h2>

<p>
    @Html.ActionLink("Authors", "Index", "Authors")
</p>
<p>
    @Html.ActionLink("Books", "Index", "Books")
</p>

